<div class="error-page" style="background-image: url('./assets/images/404.png');">
    <div class="ww error-page-container">
        <div class="error-page__code">
            404
        </div>

        <div class="error-page__text">
            такой Страницы не существует
        </div>

        <span class="error-page__go-back">
            начните поиск с <a href="./home.html">главной страницы</a>
        </span>
    </div>
</div>
