{% include "../blocks/default-banner.twig" with {
} %}

{% include "../template-parts/website-breadcrumbs.twig" with {
    crumbs: ['Главная', 'Каталог']
} %}
<div class="block-title">
    Каталог
</div>

<div class="block-descr">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit et id posuere.
    Ornare amet in semper sed ut felis, vulputate mi vehicula.
</div>

<div class="catalog">
    <div class="catalog__list js-catalog-list container">
        {% for i in [1,2,3,1,2,3,4,1,2,2,1] %}
            <a class="catalog__item {{ i == 1 ? 'catalog__item-wide' }}" href="javascript:void(0)">
                <div class="catalog__item-img">
                    <img src="./assets/images/catalog-{{ i }}.png" alt="">
                </div>

                <div class="catalog__item-content">
                    <div class="catalog__item-name">
                        Name of the collection
                    </div>

                    <div class="catalog__item-text">
                        Цифровые достижения и технологии, которые применялись
                        в различных процессах при производстве, позволили
                        точно воссоздать рисунок и текстуру дерева. Высокая степень прочности
                        и универсальность сделали его одним из самых востребованных материалов
                        для жилых и общественных проектов
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    {% include "../blocks/form-feedback.twig" with {
        indent: true
    } %}
</div>
