<div class="container navigation" style="margin-top: 22rem; margin-bottom: 20rem;">
    <h1>Карта сайта</h1>
    <ul>
        <li>
            <h3><a href="home.html">Главная</a></h3>
        </li>
        <li>
            <h3><a href="catalog.html">Каталог</a></h3>
        </li>
        <li>
            <h3><a href="catalog-detail.html">Детальная каталога</a></h3>
        </li>
        <li>
            <h3><a href="cooperation.html">Сотрудничество</a></h3>
        </li>
        <li>
            <h3><a href="about.html">О компании</a></h3>
        </li>
        <li>
            <h3><a href="404.html">404</a></h3>
        </li>
    </ul>
</div>
