<div class="companies">
    <div class="companies__wrapper">
        {% for i in [11,10,9,8,7,6,5,4,3,2,1] %}
            <a href="javascript:void(0)" class="companies__item">
                <div class="companies__item-shown">
                    <img src="./assets/images/comp-{{ i }}.png" alt="">
                </div>
            </a>
        {% endfor %}
    </div>
</div>
