<div class="shops">
    <div class="shops__item">
        <div class="shops__item-text">
            <div class="shops__item-title">
                ЕКАТРЕИНБУРГ
            </div>

            <div class="shops__item-address">
                ул. Бахчиванджи, 2 лит В5 <br/> пн-вс 9:00 - 19:00
            </div>

            <a href="tel:+7 (343) 318 24 91" class="shops__item-phone">
                +7 (343) 318 24 91
            </a>
        </div>

        <div class="shops__item-img">
            <img src="./assets/images/shop.png" alt="">
        </div>
    </div>
    <div class="shops__item">
        <div class="shops__item-text">
            <div class="shops__item-title">
                ЕКАТРЕИНБУРГ
            </div>

            <div class="shops__item-address">
                Первомайская, 56 <br/> 10:00 - 20:00
            </div>

            <a href="tel:+7 (343) 318 24 60" class="shops__item-phone">
                +7 (343) 318 24 60
            </a>
        </div>

        <div class="shops__item-img">
            <img src="./assets/images/shop.png" alt="">
        </div>
    </div>
    <div class="shops__item">
        <div class="shops__item-text">
            <div class="shops__item-title">
                УФА
            </div>

            <div class="shops__item-address">
                ул. Комсомольская, 15 <br/> пн-вс 10:00 - 20:00
            </div>

            <a href="tel:+7 (343) 318 24 91" class="shops__item-phone">
                +7 (343) 318 24 91
            </a>
        </div>

        <div class="shops__item-img">
            <img src="./assets/images/shop.png" alt="">
        </div>
    </div>
    <div class="shops__item no-shop">
        <div class="shops__item-text">
            <div class="shops__item-title-more">
                Скоро<br/>
                на 1 КЕРАМИР<br/>
                БУДЕТ БОЛЬШЕ
            </div>
        </div>

        <div class="shops__item-img">
            <img src="./assets/images/no-shop.png" alt="">
        </div>
    </div>
</div>
