<div class="wf">
   <div class="container wf__container">
       <div class="wf__body">
           <div class="wf__nav">
               <div class="wf__nav-logo">
                   <img src="/assets/images/logo-white.png" alt="">
               </div>

               <ul class="wf__nav-list">
                   <li class="wf__nav-item"><a href="javascript:void(0)">Магазины</a></li>
                   <li class="wf__nav-item"><a href="javascript:void(0)">Каталог</a></li>
                   <li class="wf__nav-item"><a href="javascript:void(0)">Сотрудничество</a></li>
                   <li class="wf__nav-item"><a href="javascript:void(0)">О компании</a></li>
               </ul>
           </div>                          

           <div class="wf__place">
               <div class="wf__place-item">
                   <div class="wf__place-title">ЕКАТРЕИНБУРГ</div>

                   <div class="wf__place-address">
                       <span>ул. Бахчиванджи, 2 лит В5</span>
                       <span>пн-вс 9:00 - 19:00</span>
                       <a href="tel:+7 (343) 318 24 91">+7 (343) 318 24 91</a>
                   </div>
                   <div class="wf__place-address">
                       <span>Первомайская, 56</span>
                       <span>10:00 - 20:00</span>
                       <a href="tel:+7 (343) 318 24 60">+7 (343) 318 24 60</a>
                   </div>
               </div>
               <div class="wf__place-item">
                   <div class="wf__place-title">УФА</div>

                   <div class="wf__place-address">
                       <span>ул. Комсомольская, 15</span>
                       <span>пн-вс 10:00 - 20:00</span>
                       <a href="tel:+7 (343) 318 24 91">+7 (343) 318 24 91</a>
                   </div>
                   <div class="wf__place-more">
                       <span>Скоро <br />на 1 КераМир <br />будет больше</span>
                   </div>
               </div>
           </div>
       </div>

       <div class="wf__bottom">
           <div class="wf__bottom-socials">
               <a href="javascript:void(0)">
                   <img src="./assets/images/vk-icon.png" alt="">
               </a>

               <a href="javascript:void(0)">
                   <img src="./assets/images/facebook-icon.png" alt="">
               </a>

               <a href="javascript:void(0)">
                   <img src="./assets/images/youtube-icon.png" alt="">
               </a>

               <a href="javascript:void(0)">
                   <img src="./assets/images/insta-icon.png" alt="">
               </a>
           </div>
       </div>
   </div>
</div>
