<label class="checkbox">
    <input type="checkbox" class="{{ inputClass }} checkbox__input" checked>
    <span class="checkbox__clone">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
           <path d="M3.82728 7.71853L6.79828 10.7518L17.1882 0.144159C17.4904 -0.164459 18 0.0559826 18 0.488048V6.43997C18 6.57223 17.9482 6.69568 17.8618 6.78386L7.0142 17.8588C6.82419 18.0528 6.52191 18.044 6.3319 17.85L0.130799 11.2897C-0.0505708 11.0957 -0.0419341 10.7871 0.148072 10.6019L3.17089 7.71853C3.3609 7.53336 3.64591 7.53336 3.82728 7.71853Z" fill="#4D4D4D"/>
        </svg>
    </span>
    <span class="checkbox__text">{{ content }}</span>

    {% if link %}
        <a href="javascript:void(0)" class="checkbox__link"><span>{{ link }}</span></a>
    {% endif %}
</label>
