<label class="checkbox">
    <input type="checkbox" class="{{ inputClass }} checkbox__input">
    <span class="checkbox__clone">
        <svg xmlns="http://www.w3.org/2000/svg" width="10.595" height="7.979" viewBox="0 0 10.595 7.979">
            <path id="Контур_6720" data-name="Контур 6720" d="M660.9,6337.217l2.728,2.443,5.748-5.88"
                  transform="translate(-659.839 -6332.72)" fill="none" stroke="#f8fbff" stroke-linecap="round"
                  stroke-width="1.5"/>
        </svg>
    </span>
    <span>{{ content }}</span>
</label>