.breadcrumbs {
  padding: 5rem 0;
}

.breadcrumbs-container {
  display: flex;
  align-items: center;

  a,
  span {
    font-size: 2.4rem;
    color: map_get($basic, primary);
  }
}

.breadcrumbs__link {
  &:not([href]) {
    &:hover {
      text-decoration: none;
    }
  }

  &:not(:first-of-type) {
    margin-left: 15px;
  }

  &:not(:last-of-type) {
    margin-right: 15px;
  }
}
