.breadcrumbs {
  padding: 5rem 0;
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  a,
  span {
    font-size: 1.8rem;
    font-weight: 300;
    color: map_get($basic, primary);
  }

  @include bp-tablet() {
  }
}

.breadcrumbs__link {
  white-space: nowrap;
  
  &:not([href]) {
    &:hover {
      text-decoration: none;
    }
  }

  &:not(:first-of-type) {
    margin-left: 15px;
  }

  &:not(:last-of-type) {
    margin-right: 15px;
  }
}
