.wf {
  display: flex;
  background-color: #000000;
  color: #ffffff;
  margin-top: auto;
  padding-top: 3.2rem;

  a {
    color: #ffffff;
  }
}

.wf__container {
  display: flex;
  flex-direction: column;
}

.wf__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 1.7rem;
}

.wf__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wf__nav-logo {
  margin-right: 3.9rem;

  img {
    width: 17rem;
    height: 9.7rem;
    object-fit: contain;
  }
}

.wf__nav-item {
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  a {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1.723rem;
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }
  }
}

.wf__place {
  display: flex;
  flex-wrap: wrap;
}

.wh__place-item-wrapper {
  display: flex;
  padding-top: 1.7rem;
  border-top: 1px solid #ffffff;

  .wf__place-address {
    &:not(:last-of-type) {
      margin-right: 6.5rem;
    }
  }
}

.wf__place-item {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-right: 6rem;
  }
}

.wf__place-title {
  text-transform: uppercase;
  margin-bottom: 1.7rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.wf__place-address {
  display: flex;
  flex-direction: column;

  span {
    display: block;
    font-size: 1.4rem;

    &:first-of-type {
      font-weight: 100 ;
    }
  }

  b {
    font-size: 1.4rem;
    margin-right: 6rem;
    text-transform: uppercase;
  }

  a {
    font-weight: bold;
    font-size: 1.4rem;
  }

  span:not(:first-of-type) {
    font-weight: bold;
  }
}

.wf__bottom {
  padding: 1rem 0;
}

.wf__bottom-socials {
  display: flex;
  justify-content: center;

  a {
    display: block;
    margin-right: 3rem;

    img {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
