.wh {
  transition: 0.2s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

  .button-primary {
    color: #ffffff;
  }

  &.active {
    background: #ffffff;

    .wh-mobile-burger--button {
      span {
        background-color: #000000;
      }

      &:before, &:after {
        background-color: #000000;
      }
    }

    input[type="button"] {
      color: #000000;
    }

    svg {
      path {
        fill: #000000;
      }
    }

    .wh__above-info-city-btn {
      svg {
        path {
          fill: #000000;
        }
      }
    }

    a,
    span {
      color: #000000;
    }

    .button-primary {
      border-color: #000000;
      color: #000000;
    }

    .wh__above-logo-black {
      display: block;
    }

    .wh__above-logo-white {
      display: none;
    }


    .wh__nav {

      .wh__nav-item a {
        color: #000000;
      }
    }
  }

  @include bp-tablet() {
    .wf__bottom-socials {
      display: none;
    }
  }
}

.wh__above {
  padding: 24px 0;
}

.wh__above-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wh__above-info {
  display: flex;
  align-items: center;
  max-width: 42rem;

  @include bp-tablet() {
    flex-direction: column-reverse;
    order: 1;
    align-items: flex-start;
  }
}

.wh-mobile-phone {
  margin-top: 1rem;
}

.wh__above-info-city {
  position: relative;
  width: 20rem;

  &.active {
    .wh__above-info-city-list {
      opacity: 1;
      pointer-events: all;
    }
  }

  @include bp-tablet() {
    width: auto;
  }
}

.wh__above-info-city-list {
  position: absolute;
  top: 3rem;
  left: 2rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  li {
    text-align: center;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 4.4rem;
    font-weight: 300;

    &:not(.selected) span {
      color: rgba(map_get($basic, primary), 0.75);
    }

    &.selected {
      color: map_get($basic, primary);
      border-bottom: 1px solid map_get($basic, primary);
    }

    &:hover {
      color: map_get($basic, primary);

      span {
        color: map_get($basic, primary);
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }
}

.wh__above-info-city-btn {
  cursor: pointer;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;

  input[type="button"] {
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer;
    color: #ffffff;
  }

  svg {
    margin-right: 0.5rem;

    path {
      fill: #ffffff;
    }
  }
}

.wh__above-info-number {
  color: #ffffff;
  width: 23rem;
  font-size: 1.6rem;

  @include bp-tablet() {
    display: none;
  }

  &.wh-mobile-phone {
    display: flex;
    width: auto;

    @include bp-tablet(min) {
      display: none;
    }
  }
}

.wh__above-logo {
  width: 100%;
  height: 10rem;
  position: relative;
  min-width: 18.5rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }

  @include bp-tablet() {
    min-width: 6rem;
    height: 5rem;
    margin: 0 2rem;
  }
}

.wh__above-logo-black {
  display: none;
}

.wh__above-btn {
  max-width: 38rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include bp-tablet() {
    display: none;
  }
}

/* nav */

.wh__nav {
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  @include bp-tablet() {
    display: none;
  }
}

.wh__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 0;
}

.wh__nav-item {
  &:not(:last-of-type) {
    margin-right: 12.5rem;
  }

  a {
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.wh-mobile-burger--menu {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  z-index: 100000;

  transition: 0.2s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  @include bp-tablet(min) {
    display: none;
  }
}

.wh-mobile-burger--menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 3rem 4rem;
  color: #000000;

  .wh__nav-mobile {
    display: flex;
    padding-top: 4.5rem;
    padding-bottom: 6rem;

    ul {
      align-items: flex-start;
    }

    li {
      &:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 1.5rem;
      }
    }

    a {
      color: #000000;
    }
  }

  .wh__above-info-city {
    color: #000000;
  }

  .wh__above-btn {
    display: flex;
    width: auto;

    .button-primary {
      color: #000000;
      border-color: #000000;
    }
  }

  .wh__above-info-city-btn {
    margin-bottom: 2.1rem;

    input {
      color: #000000;
    }

    svg {
      path {
        fill: #000000;
      }
    }
  }

  .wh__above-info-number {
    margin-bottom: 1.7rem;
    color: #000000;
    margin-top: 0;
  }

  .wf__bottom-socials {
    margin-top: 3.4rem;

    svg {
      path {
        fill: #000000;
      }
    }
  }

  .wh__above-logo {
    width: 12.5rem;
    height: 7rem;

    .wh__above-logo-black {
      display: block;
    }
  }
}

.wh__nav-mobile {
  ul {
    flex-direction: column;
  }
}

.wh-mobile-burger--close {
  position: absolute;
  top: 4rem;
  left: 3.3rem;
}

.wh-mobile-burger--button {
  min-width: 2.5rem;
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;

  span {
    background-color: #ffffff;
    min-width: 2.5rem;
    width: 2.5rem;
    height: 0.1rem;
    max-height: 0.1rem;
    display: block;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.1rem;
    background-color: #ffffff;
  }

  &:after {
    top: 0;
  }

  &:before {
    bottom: 0;
  }

  @include bp-tablet(min) {
    display: none;
  }
}
