.companies {
  display: flex;
  margin: 10rem 0 5rem;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  &::-webkit-scrollbar {
    display: none;
  }

  @include bp-tablet() {
    margin: 6rem 0;
  }
}

.companies__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  min-width: 1520px;
  max-width: 1520px;
  margin: auto;
  padding: 0 2rem;

  @include bp-mobile() {
    display: none;
  }
}

.companies__item {
  padding: 0 4rem 8rem;

  &:hover {
    .companies__item-shown {
      opacity: 1;
      filter: grayscale(0);
    }
  }

  @include bp-tablet() {
    padding: 0 4rem 4rem;
  }
}

.companies__item-shown {
  opacity: 0.7;
  filter: grayscale(1);
  transition: 0.2s;

  img {
    width: 100%;
    object-fit: contain;
  }

  @include bp-tablet() {
    max-width: 29rem;
  }
}

.companies__slider {
  display: none;
  
  @include bp-mobile() {
    display: flex;
  }
}

.companies__slider-wrapper {
  display: flex;  
}

.companies__slider-item {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .companies__item {
    padding-left: 0;
    padding-right: 0;
  }
}
