.companies {
  display: flex;
  margin: 10rem 0 0;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  &::-webkit-scrollbar {
    display: none;
  }

  @include bp-tablet() {
    margin: 6rem 0;
    margin-bottom: 0;
  }
}

.companies__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  min-width: 1520px;
  max-width: 1520px;
  margin: auto;
  padding: 0 2rem;
}

.companies__item {
  padding: 0 4rem 8rem;

  &:hover {
    .companies__item-shown {
      opacity: 1;
      filter: grayscale(0);
    }
  }
}

.companies__item-shown {
  opacity: 0.7;
  filter: grayscale(1);
  transition: 0.2s;
}
