.default-banner {
  height: 100vh;
  width: 100%;
  padding-top: 20rem;
  padding-bottom: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;

  & > * {
    user-select: none;
  }

  &:not(:first-of-type) {
    padding-top: 0;
  }

  &::before {
    content: "";
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000000, 0.3);
  }
}

.default-banner__command-title {
  margin-bottom: 4.5rem;
  font-family: $font2;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 5.1rem;
  color: #FFFFFF;
}

.default-banner__command-descr {
  color: #FFFFFF;
  font-size: 2.4rem;
  line-height: 2.3rem;
  font-weight: 400;
}


.default-banner__content {
  position: relative;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: flex;
}

.default-banner__video-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.default-banner__video {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

.default-banner__video-control {
  position: relative;
  z-index: 15;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;

  cursor: pointer;

  svg {
    width: 30rem;
    height: 30rem;
    stroke-width: 3px;

    path {
      fill: rgba(#ffffff, 0.4);
    }
  }

  &.hide {
    opacity: 0;
  }

  &.active {
    .default-banner__video-play {
      display: none;
    }

    .default-banner__video-pause {
      display: block;
    }
  }
}

.default-banner__video-play {

}

.default-banner__video-pause {
  display: none;
}


.default-banner__mouse {
  position: absolute;
  bottom: 5.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.default-banner__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  max-width: 108rem;
  margin: 0 auto;
}

.default-banner__title {
  font-family: $font2;
  font-size: 4.8rem;
  line-height: 5.1rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.default-banner__descr {
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.2rem;
  font-weight: 400;
}

.default-banner_slider {
  padding-bottom: 0;
}

.default-banner__slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.default-banner__slider-toggle {
  max-width: 57rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#ffffff, 0.5);
  border: none;
  cursor: pointer;

  &.active {
    svg {
      transform: rotate(0);
    }
  }

  svg {
    transform: rotate(180deg);
    transition: 0.2s;
  }
}

.default-banner__slider-content {
  height: 0;
  overflow: hidden;
  transition: height 0.2s;
  background-color: #ffffff;
  position: relative;

  &.active {
    padding: 4rem 0;
    border: 1px solid map_get($basic, primary);
  }

  max-height: 41.5rem;
}

.default-banner__slider-swiper {
  min-height: 33rem;
  max-height: 40rem;
  overflow: hidden;

  .default-banner__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: map_get($basic, primary);
    overflow: hidden;
    min-width: 34rem;

    &:hover {
      text-decoration: none;

      .default-banner__slide-name {
        font-weight: bold;
      }
    }

    &-img {
      width: 34rem;
      height: 26.7rem;
      margin-bottom: 2rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-builder {
      font-size: 1.4rem;
      color: map_get($basic, primary);
    }

    &-name {
      color: map_get($basic, primary);
      font-size: 2.4rem;
      line-height: 2.8rem;
      transition: 0.2s;
    }
  }

  .swiper-wrapper {
    display: flex;
  }
}

.swiper-nav {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  transform: translateY(calc(-50% - 5rem));

  &__next {
    position: absolute;
    top: 0;
    right: 10rem;
    cursor: pointer;

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      svg {
        path {
          fill: darken(#7b7b7b, 40%);
        }
      }
    }

    svg {
      transition: 0.2s;
      transform: rotate(180deg);
    }

    @include bp-desktop() {
      right: 2rem;
    }
  }

  &__prev {
    position: absolute;
    top: 0;
    left: 10rem;
    cursor: pointer;

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    svg {
      transition: 0.2s;
    }

    &:hover {
      svg {
        path {
          fill: darken(#7b7b7b, 40%);
        }
      }
    }

    @include bp-desktop() {
      left: 2rem;
    }
  }

  @include bp-tablet() {
    display: none;
  }
}

.default-banner__slider-container {
  padding: 0 20rem;

  @include bp-desktop() {
    padding: 0 10rem;
  }

  @include bp-tablet() {
    padding: 0 2rem;
  }
}

.default-banner__left-text {
  font-size: 2.4rem;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid #ffffff;
  font-weight: 300;
  color: #ffffff;
  max-width: 38rem;
  position: absolute;
  bottom: 17.5rem;
  left: 19rem;
  padding: 1rem 1rem;
  text-transform: uppercase;

  &-command {
    padding: 2.4rem 3.6rem;
    max-width: 56.6rem;
    bottom: 9rem;
  }

  span {
    font-size: 3.6rem;
    font-weight: bold;
  }
}

.default-banner__3d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  color: #ffffff;

  .button-primary {
    font-size: 4.8rem;
    color: #ffffff;
    border-color: #ffffff;
    max-width: 50rem;

    &:hover {
      background-color: rgba(#ffffff, 0.25);
    }
  }
}

.default-banner__3d-desc {
  margin-bottom: 9.2rem;
  max-width: 80rem;
  text-align: center;

  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.3rem;
}

.default-banner__3d-360 {
  position: absolute;
  right: 18.9rem;
  bottom: 5.4rem;
}

.default-banner__backSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .swiper-wrapper {
    display: flex;
    height: 100%;
  }

  .swiper-slide {
    min-width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.default-banner__backSlider-controls {
  width: 135px;
  height: 60px;
  position: absolute;
  right: 18.9rem;
  bottom: 5rem;
  border: 1px solid rgba(#ffffff, 0.6);
  padding: 1.5rem 2.4rem;
  display: flex;
  justify-content: space-between;
  z-index: 10;

  &:after {
    content: '';
    width: 1px;
    height: calc(100% - 2.3rem);
    position: absolute;
    bottom: -0.7rem;
    left: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.6);
  }

  .prev, .next {
    cursor: pointer;

    path {
      fill: rgba(#ffffff, 0.6);
    }

    &:hover {
      path {
        fill: rgba(#ffffff, 1);
      }
    }
  }

  .prev {
    svg {
      transform: rotate(180deg);
    }
  }
}

