.default-banner {
  height: 100vh;
  width: 100%;
  padding-top: 20rem;
  padding-bottom: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;

  &.with-content {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 40%;
      background: linear-gradient(89.88deg, #000000 0.1%, rgba(0, 0, 0, 0) 99.9%);

      @include bp-tablet() {
        width: 100%;
        height: 40%;
        bottom: 0;
        top: initial;

        background: linear-gradient(0, #000000 0.1%, rgba(0, 0, 0, 0) 99.9%);
      }
    }

    @include bp-tablet() {
      height: auto;
      padding-top: 7rem;
      padding-bottom: 5.5rem;
    }
  }

  & > * {
    user-select: none;
  }

  &:not(:first-of-type) {
    padding-top: 0;
  }

  &::before {
    content: "";
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000000, 0.3);
  }

  @include bp-desktop() {
    height: 75rem;
  }
}

.default-banner__command-title {
  margin-bottom: 4.5rem;
  font-family: $font1;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;

  color: #FFFFFF;

  @include bp-tablet() {
    text-align: center;
    font-size: 36px;
    line-height: 45px;
  }
}

.default-banner__command-descr {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;

  @include bp-tablet() {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }
}

.default-banner__content {
  position: relative;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: flex;

  @include bp-tablet() {
    align-items: center;
    justify-content: center;
  }
}

.default-banner__video-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.default-banner__video {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

.default-banner__video-control {
  position: relative;
  z-index: 15;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;

  cursor: pointer;

  svg {
    width: 9.2rem;
    height: 9.2rem;
    stroke-width: 3px;

    path {
      fill: rgba(#ffffff, 0.4);
    }
  }

  &.hide {
    opacity: 0;
  }

  &.active {
    .default-banner__video-play {
      display: none;
    }

    .default-banner__video-pause {
      display: block;
    }
  }
}

.default-banner__video-pause {
  display: none;
}


.default-banner__mouse {
  position: absolute;
  bottom: 5.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.default-banner__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  max-width: 108rem;
  margin: 0 auto;
}

.default-banner__title {
  font-family: $font2;
  font-size: 4.8rem;
  line-height: 5.1rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.default-banner__descr {
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.2rem;
  font-weight: 400;
}

.default-banner_slider {
  padding-bottom: 0;

  @include bp-tablet() {
    height: 33.5rem;
    overflow: visible;
  }
}

.default-banner__slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;

  &-catalog {
    @include bp-tablet() {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &.active {
    .default-banner__backSlider-controls {
      span {
        background-color: #ffffff;
        border-color: #AEAEAE;
        min-width: 4.5rem;
        max-width: 4.5rem;
        min-height: 4.5rem;
        max-height: 4.5rem;

        svg {
          width: 6px;
          height: 13px;

          path {
            stroke: #000000;
          }
        }
      }
    }

    .default-banner__backSlider-controls {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    .default-banner__active-text {
      opacity: 1;
    }
  }


}

.default-banner__controls-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

.default-banner__active-text {
  opacity: 0;
  transition: 0.2s;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;

  color: #FFFFFF;
  margin-left: 5.3rem;
  margin-top: 0.5rem;

  @include bp-tablet() {
    color: #000000;
    opacity: 1;
    position: absolute;
    width: 100%;
    margin: 0;
    top: -7.5rem;
    text-align: center;
  }
}

.default-banner__slider-row-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(#000000, 0.5);

  .default-banner__backSlider-controls {
    position: relative;
    bottom: initial;
    right: initial;
    margin-right: 20%;
    border: none;
    width: auto;
    height: auto;

    span {
      min-width: 6.8rem;
      max-width: 6.8rem;
      min-height: 6.8rem;
      max-height: 6.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ffffff;
      transition: 0.2s;

      &.prev {
        svg {
          transform: rotate(0);
        }
      }

      svg {
        path {
          fill: none;
        }
      }

      &:hover {
        svg {
          path {
            fill: none;
          }
        }
      }

      @include bp-tablet() {
        border-color: #aeaeae;

        svg {
          path {
            stroke: #000000;
          }
        }
      }
    }

    &:after {
      display: none;
    }

    @include bp-tablet() {
      margin-right: 0;
      padding-bottom: 2.5rem;

      span {
        background-color: #ffffff;
        border-color: #AEAEAE;
        min-width: 4.5rem;
        max-width: 4.5rem;
        min-height: 4.5rem;
        max-height: 4.5rem;

        svg {
          width: 6px;
          height: 13px;

          path {
            stroke: #000000;
          }
        }
      }
    }
  }

  @include bp-tablet() {
    justify-content: flex-end;
    background-color: #ffffff;
    position: relative;
  }
}

.default-banner__slider-toggle {
  max-width: 37.4rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  cursor: pointer;
  padding-left: 1.8rem;
  background-color: transparent;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;

  i {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.active {
    svg {
      transform: rotate(180deg);
    }
  }

  span {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-left: 6rem;
    text-transform: uppercase;
    color: #ffffff;
  }

  svg {
    transform: rotate(0);
    transition: 0.2s;
  }

  @include bp-tablet() {
    display: none;
  }
}

.default-banner__slider-content {
  height: 0;
  overflow: hidden;
  transition: height 0.2s;
  background-color: #ffffff;
  position: relative;

  &.active {
    border: 1px solid map_get($basic, primary);
  }

  max-height: 41.5rem;

  @include bp-tablet() {
    height: 100%;
  }
}


.default-banner__slider-container {
  height: 100%;
}

.default-banner__slide-content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  background: rgba(#202020, 0.7);
  display: flex;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .default-banner__slide-builder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #EFFF00;
  }

  .default-banner__slide-name {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;

    @include bp-tablet() {
      font-size: 2rem;
      line-height: 2.2rem;
    }
  }
}

.default-banner__slider-swiper {
  overflow: hidden;
  background-color: #000000;

  .default-banner__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: map_get($basic, primary);
    overflow: hidden;
    min-width: 34rem;
    position: relative;

    &:hover {
      text-decoration: none;

      .default-banner__slide-content {
        height: 100%;
        opacity: 1;
      }
    }

    &-img {
      width: 34rem;
      height: 26.7rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

       @include bp-mobile() {
         min-width: 100vw;
         width: 100%;
       }
    }

    @include bp-mobile() {
      min-width: 100vw;
    }
  }

  .swiper-wrapper {
    display: flex;
    background-color: #000000;
  }
}

.swiper-nav {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  transform: translateY(calc(-50% - 5rem));

  &__next {
    position: absolute;
    top: 0;
    right: 10rem;
    cursor: pointer;

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      svg {
        path {
          fill: darken(#7b7b7b, 40%);
        }
      }
    }

    svg {
      transition: 0.2s;
      transform: rotate(180deg);
    }

    @include bp-desktop() {
      right: 2rem;
    }
  }

  &__prev {
    position: absolute;
    top: 0;
    left: 10rem;
    cursor: pointer;

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    svg {
      transition: 0.2s;
    }

    &:hover {
      svg {
        path {
          fill: darken(#7b7b7b, 40%);
        }
      }
    }

    @include bp-desktop() {
      left: 2rem;
    }
  }

  @include bp-tablet() {
    display: none;
  }
}

.default-banner__left-text {
  font-size: 2.4rem;
  font-weight: 300;
  color: #ffffff;
  max-width: 38rem;
  position: absolute;
  bottom: 17.5rem;
  left: 21rem;
  padding: 1rem 1rem;
  text-transform: uppercase;

  &-command {
    padding: 2.4rem 3.6rem;
    max-width: 56.6rem;
    bottom: 9rem;
  }

  span {
    font-size: 3.6rem;
    font-weight: bold;
  }

  @include bp-tablet() {
    position: relative;
    bottom: 0;
    left: 0;
  }
}

.default-banner__3d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  color: #ffffff;

  .block-title {
    color: #ffffff;
  }

  .button-primary {
    color: #ffffff;
    border-color: #ffffff;
    max-width: 50rem;

    &:hover {
      background-color: rgba(#ffffff, 0.25);
    }
  }
}

.default-banner__3d-desc {
  margin-bottom: 9.2rem;
  max-width: 80rem;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;

  @include bp-tabletXS() {
    font-size: 18px;
    line-height: 27px;
  }
}

.default-banner__3d-360 {
  position: absolute;
  right: 18.9rem;
  bottom: 5.4rem;

  @include bp-desktop() {
    bottom: initial;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    top: -33%;
  }
}

.default-banner__backSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .swiper-wrapper {
    display: flex;
    height: 100%;
  }

  .swiper-slide {
    min-width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.default-banner__backSlider-controls {
  width: 135px;
  height: 60px;
  position: absolute;
  right: 18.9rem;
  bottom: 5rem;
  border: 1px solid rgba(#ffffff, 0.6);
  padding: 1.5rem 2.4rem;
  display: flex;
  justify-content: space-between;
  z-index: 20;

  &:after {
    content: '';
    width: 1px;
    height: calc(100% - 2.3rem);
    position: absolute;
    bottom: -0.7rem;
    left: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.6);
  }

  .prev, .next {
    cursor: pointer;

    path {
      fill: rgba(#ffffff, 0.6);
    }

    &:hover {
      path {
        fill: rgba(#ffffff, 1);
      }
    }
  }

  .prev {
    svg {
      transform: rotate(180deg);
    }
  }
}

