.popup {
  display: flex;
  opacity: 0;
  z-index: -1;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: background 0.2s ease-out;

  // показываем
  &_open {
    opacity: 1;
    z-index: 1100;
  }

  // анимируем
  &_hide {
    opacity: 1;
    z-index: 1100;
    background: rgba(30, 30, 30, 0);

    .popup__content-wrap {
      transform: translateY(-30px);
      opacity: 0;
    }
  }

  &_open {
    background: rgba(30, 30, 30, 1);

    .popup__content-wrap {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.full-screen {
    .popup__wrap {
      width: 100%;
      height: 100%;
    }

    .popup__content-wrap {
      height: 100%;
    }
  }
}

.popup__wrap {
  display: flex;
  flex-direction: column;
}

.popup__content-wrap {
  color: black;
  flex: none;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 0.2s ease-out;
  transform: translateY(-30px);
  opacity: 0;
  padding: 5rem;

  .form-feedback__submit {
    margin-top: 8rem;
  }

  @include bp-tablet() {
    padding: 3rem;
  }

  @include bp-tablet() {
    .form-feedback__fields .textarea__cover {
      width: 24rem;
    }
  }

  @include bp-mobile() {
    padding: 2rem;

    .form-feedback__fields .textarea__cover {
      width: 100%;
    }
  }
}

.popup__title {
  font-size: 16px;
  line-height: 22px;
  color: $color-gray;

  width: 100%;
  max-width: calc(288px + 32px);
  padding: 0 16px;
  margin: 16px auto 23px auto;
}

.popup__logo-fixed {
  position: absolute;
  top: 24px;
  left: 16px;
  z-index: 1;
}

.popup__close {
  position: absolute;
  z-index: 16;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  top: 2rem;
  right: 2rem;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    pointer-events: none;
    transition: 0.3s;
  }

  &:hover svg {
    transform: rotate(180deg);
  }
}

@media (min-width: 991px) {
  .popup__wrap {
    width: initial;
  }

  .popup__logo-fixed {
    display: none;
  }

  .popup .login-form {
    width: 402px;
  }

  .popup__title {
    text-align: center;
    margin: 41px auto 24px;
    font-size: 20px;
  }
}

@media (min-width: $tablet-width + 1px) {
  .popup_open {
    background: rgba(30, 30, 30, 0.8);
  }
}
