.wwu {
  margin-top: 16rem;

  @include bp-tablet() {
    margin-top: 8rem;
  }
}

.wwu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wwu__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-family: $font1;
  text-align: center;

  @include bp-tablet() {
    font-size: 36px;
    line-height: 45px;
  }
}

.wwu__desc {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 6rem;
  max-width: 76rem;
}

.wwu__blocks {
  display: flex;

  @include bp-desktop() {
    justify-content: center;
    padding-bottom: 7rem;
  }
}

.wwu__blocks-list {
  display: grid;
  grid-template-columns: repeat(3, calc(100vw / 8));
  grid-template-rows: repeat(2, 24rem);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  &:nth-child(1) {
    .wwu__blocks-list-item {
      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }

      &:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
      }

      &:nth-child(3) {
        grid-area: 1 / 2 / 3 / 3;

        @include bp-tablet() {
          display: none;
        }
      }
    }
  }

  &:nth-child(2) {
    grid-template-columns: repeat(2, calc(100vw / 8));
    grid-template-rows: repeat(2, 24rem);
                          
    .wwu__blocks-list-item {
      &:nth-child(1) {
        grid-area: 2 / 1 / 2 / 2;
      }

      &:nth-child(2) {
        grid-area: 2 / 2 / 3 / 2;
      }

      &:nth-child(3) {
        grid-area: 1 / 1 / 1 / 1;
      }
    }

    @include bp-desktop() {
      display: none;
    }
  }
  
  &:nth-child(3) {
    .wwu__blocks-list-item {
      &:nth-child(1) {
        grid-area: 2 / 3 / 1 / 3;
      }

      &:nth-child(2) {
        grid-area: 2 / 3 / 2 / 3;
      }

      &:nth-child(3) {
        grid-area: 3 / 2 / 1 / 1;
      }
    }

    @include bp-tablet() {
      display: none;
    }
  }

  @include bp-tablet() {
    grid-template-columns: repeat(1, calc(100vw - 8rem));
  }
}

.wwu__blocks-list-item {
  position: relative;
  min-height: 24rem;
  color: #ffffff;
  transition: transform 0.3s;
  user-select: none;
  cursor: default;
  z-index: 9;

  &:hover {
    z-index: 10;
    transform: scale(1.07);

    &:after {
      opacity: 0;
    }
  }

  &:nth-child(1) {
    min-width: calc(100vw / 8);
    max-width: 24rem;

    @include bp-tablet() {
      min-width: calc(100vw - 8rem);
    }
  }

  &:nth-child(2) {
    min-width: calc(100vw / 8);
    max-width: 24rem;

    @include bp-tablet() {
      min-width: calc(100vw - 8rem);
    }
  }

  &:nth-child(3) {
    min-width: calc(100vw / 4);
    max-width: 48rem;
  }

  &:not(.wwu__blocks-list-item-no-text) {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000000, 0.25);
      transition: 0.2s;
    }

    &:hover {
      .wwu__blocks-list-item-text {
        background-color: #000000;
      }
    }

    .wwu__blocks-list-item-text {         
      transition: background-color 0.3s;
      padding-top: 1.5rem;
    }

    .wwu__blocks-list-item__title {
      font-weight: 300;
    }

    .wwu__blocks-list-item__desc {
      margin-bottom: 2.3rem;
    }
  }

  display: flex;
  align-items: flex-end;
  justify-content: center;

  &.wwu__blocks-list-item-no-text {
    background-color: map_get($basic, primary);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.3rem;
  }
}

.wwu__blocks-list-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wwu__blocks-list-item-text {
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 8;
  width: 100%;
}

.wwu__blocks-list-item__title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7rem;

  @include bp-desktopHD() {
    font-size: 1.4rem;
  }
}

.wwu__blocks-list-item__desc {
  text-align: center;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.3rem;
  margin-top: 2rem;
}
