.button-primary {
  background: none;
  border: 1px solid #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
  transition: 0.2s;
  display: block;
  text-decoration: none;
  color: #000000;

  &__center {
    padding: 1.5rem 6rem;
    text-align: center;
    border: 1px solid #000000;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3.6rem;
    line-height: 3.4rem;
    max-width: 39rem;

    &.sm {
      padding: 1.6rem;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  padding: 1.5rem 2rem 1.5rem 2rem;
}
